In [8]:
#1
import sqlite3

# Kết nối đến database (nếu chưa có, SQLite sẽ tạo file database mới)
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY, 
        HoTen TEXT,
        Tuoi INTEGER, 
        PhongBan TEXT
    )
''')
#2
# Dữ liệu nhân viên
nhan_vien_data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'Ke Toan'),
    (4, 'Phan Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# Chèn dữ liệu vào bảng
cursor.executemany("INSERT OR IGNORE INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", nhan_vien_data)

#3
cursor.execute("SELECT * FROM NhanVien")
all_employees = cursor.fetchall()
print("Toàn bộ nhân viên:", all_employees)

#4
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
it_employees = cursor.fetchall()
print("Nhân viên phòng IT:", it_employees)

#5
 #Lấy danh sách nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("\nNhân viên có tuổi > 25:")
for row in cursor.fetchall():
    print(row)

 

#6
# Lấy phòng ban và nhân viên lớn tuổi nhất trong phòng ban đó
cursor.execute("SELECT PhongBan, MAX(Tuoi) FROM NhanVien GROUP BY PhongBan")
print("\nNhân viên lớn tuổi nhất trong từng phòng ban:")
for row in cursor.fetchall():
    print(row)


#7
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()

# Kiểm tra lại kết quả
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
print(cursor.fetchall())
#8
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()

# Đếm số nhân viên mỗi phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
for row in cursor.fetchall():
    print(row)

# Đóng kết nối
conn.close()

#9
print("Kết nối SQLite và thực hiện truy vấn thành công.")

# Đóng kết nối
conn.close()

Toàn bộ nhân viên: [(1, 'Nguyen Van A', 30, 'Ke Toan'), (2, 'Tran Thi B', 25, 'Nhan Su'), (3, 'Le Van C', 28, 'Marketing'), (4, 'Phan Thi D', 32, 'Ke Toan'), (5, 'Vu Van E', 26, 'IT'), (6, 'Nguyen Thi F', 29, 'Marketing'), (7, 'Le Thi G', 27, 'Nhan Su'), (8, 'Hoang Van H', 35, 'Ke Toan'), (9, 'Pham Van I', 33, 'Marketing'), (10, 'Tran Van J', 24, 'IT'), (11, 'Dang Thi K', 31, 'Nhan Su'), (12, 'Nguyen Van L', 28, 'Ke Toan'), (13, 'Tran Thi M', 26, 'Marketing'), (14, 'Pham Van N', 30, 'Nhan Su'), (15, 'Hoang Thi O', 27, 'IT')]
Nhân viên phòng IT: [('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27)]

Nhân viên có tuổi > 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Phan Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên lớn tuổi nhất trong từng phòng ban:
('IT', 27)
('Ke Toan', 35)
('Marketing', 33)
('Nhan Su', 31)
[(3, 'Le Van C', 28, 'Marketing')]
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)
Kết nối SQLite và thực hiện truy vấn thành công.